// Color
$color-gray-0:#6f7273;
$color-gray-1:#666;
$color-gray-2:#7e7e7e;
$color-gray-3:#a9a8a8;
$color-gray-4:#5a5a5a;
$color-gray-5:#606060;
$color-gray-6:#a4a4a4;
$color-gray-7:rgba(255, 255, 255, .5);
$color-gray-8:#f5f5f5;
$color-gray-9:#909090;
$color-gray-10:#7f7f7f;
$color-orange-0:#d6b161;
$color-white:#fff;
$color-white-1:#eaeaea;
$color-black-0:#222;
$color-black-1: #323232;
$color-black-2:#1b1b1b;
$color-black-3:#0a0a0a;
$color-black-4:#595959;
$color-black-5:#757575;
$color-black-6:#333;
$color-black-7:#bbb;
$color-black-8:#a2a2a2;




// Font-size
$font-size-0:13px;
$font-size-1:15px;
$font-size-2:18px;
$font-size-3:20px;
$font-size-4:24px;
$font-size-5:30px;
$font-size-6:36px;
$font-size-7:60px;

// Paddings
$pd-1:12px;
$pd-2:30px;
$pd-3:10px;
$pd-4:100px;
$pd-5:60px;
$pd-6:8px;
$pd-7:20px;
$pd-8:40px;
$pd-9:15px;

// Margin
$mg-1:100px;
$mg-2:80px;
$mg-3:20px;
$mg-4:50px;
$mg-5:30px;
$mg-6:10px;
$mg-7:15px;
// Font-weight
$font-weight-400:400;
$font-weight-300:300;
$font-weight-normal:normal;
$font-weight-bold:bold;

// Border
$border-0:1px solid #e9e9e9;
$border-1:20px solid rgba(0, 0, 0, .1);
$border-2:1px solid transparent;
$border-3:1px solid #5a5a5a;
$border-top-0:1px solid #2c2c2c;
$border-top-1:1px solid #eee;
$border-right-0:1px solid #a4a4a4;
$border-bot-0:1px solid #333;


// Background color
$bg-color-0:rgba(255, 255, 255, .9);
$bg-color-1:rgba(0, 0, 0, .5);
$bg-color-2:rgba(34, 34, 34, .05);
$bg-color-3:rgba(0, 0, 0, .7);
$bg-color-4:rgba(0, 0, 0, .6);
// Box-shadow
$box-shadow-0:0 0 0 10px #fff;