.banner{
    background-image: url(../../img/index-banner-2.jpg);
    height: 667px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    position: relative;
    .banner-logan{
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        .banner-title{
            color: $color-white;
            h1{
                letter-spacing: 5px;
                font-size: $font-size-7;
                font-weight: $font-weight-300;
                line-height: normal;
            }
            h3{
                letter-spacing: 6px;
                font-size: $font-size-3;
            }
        }
    }
    @media screen and (max-width:768px) {
        .banner-logan{
            .banner-title{
                h1{
                    font-size: $font-size-5;
                }
                h3{
                    font-size: $font-size-2;
                }
            }
        }
    }
    @media screen and (min-width:769px) {
        .banner-logan{
            top: 35%;
            left: 0;
            width: 100%;
        }
    }
}
