.body-content{
    .together{
        background-image: url("../img/pattern-2.png");
        background-repeat: repeat;
        background-attachment: fixed;
        .row{
            margin: 0;
        }
        .icon-box{
            .nav-pills{
                margin-bottom: 40px;
                li:first-child{
                    margin-left: 0;
                }
                li{
                    margin-left: $mg-3;
                    a{ 
                        position: relative;
                        color: $color-black-0;
                        background-color:$bg-color-2;
                        padding: 35px 70px;
                        i{
                            font-size: $font-size-5;
                        }
                        &::after{
                            content: "";
                            border-width: 10px 10px 0 10px;
                            border-style: solid;
                            border-color: #fff transparent transparent transparent;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            width: 0;
                            height: 0;
                            margin-left: -10px;
                            display: none;
                        }
                    }
                    .together-nav-item.active{
                        background-color: $color-white;
                        &::after{
                            display: block;
                        }
                    }
                }
            }
            .panel-body{
                padding: $pd-2 0;
                .tab-content{
                    .tab-pane{
                        line-height: 30px;
                        .heading-title{
                            h5{
                                letter-spacing: 2px;
                                color: $color-gray-2;
                                font-size: $font-size-0 + 1;
                                text-transform: uppercase;
                            }
                            h2{
                                margin-bottom: $mg-4;
                                letter-spacing: 2px;
                                font-weight: $font-weight-normal;
                                text-transform: uppercase;
                                font-size: $font-size-5;
                            }
                            p{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .body-content{
        .together{
            .icon-box{
                .nav-pills{
                    li{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:450px) {
    .body-content{
        .together{
            .icon-box{
                #together-nav{
                    flex-direction: column;
                    li{
                        margin-left: 0;
                        margin-bottom: 15px;
                        text-align: center;
                        a{
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}